/* ==========================================================================
FONTS
========================================================================== */
@font-face {
  font-family: HattoriHanzo;
  src: url(../fonts/Hattori_Hanzo.ttf);
}
/* ==========================================================================
LESS
========================================================================== */
/* for IE 7 */
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #ffffff;
}
ul,
p {
  margin: 0;
}
input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
  outline: none;
}
a:focus {
  outline: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */
}
.clearfix:after {
  clear: both;
}
.list-inline li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
h2 {
  margin: 0;
  font-size: 33px;
  font-weight: normal;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
}
/* ==========================================================================
    MAIN
========================================================================== */
/* Slider
========================================================================== */
.slider {
  position: relative;
  width: 100%;
  height: 660px;
}
.container-slider {
  position: relative;
  width: 960px;
  padding-top: 25px;
  margin: 0 auto;
  text-align: left;
}
.container-slider h2 {
  width: 800px;
  margin-bottom: 20px;
  color: #cdcbb5;
}
.container-slider img {
  margin-left: 70px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slide-1 {
  background-image: url(../img/bg-scheme.png);
  z-index: 1;
}
.slide-2 {
  background-image: url(../img/bg-2.jpg);
  z-index: 2;
}
.slide-3 {
  background-image: url(../img/bg-3.jpg);
  z-index: 3;
}
.slide-3 .block-info {
  top: 274px;
}
.logo-main {
  display: block;
  width: 129px;
  height: 47px;
  margin: 0 auto 30px;
  background: url(../img/logo-main.png) no-repeat;
}
.block-info {
  position: absolute;
  top: 290px;
  right: 0;
  width: 400px;
  height: 280px;
}
.block-info h3 {
  margin: 0;
  color: #c99906;
  font-size: 30px;
  font-weight: normal;
}
.block-info h4 {
  width: 250px;
  margin: 0;
  margin: 15px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}
.block-info p,
.block-info li {
  margin: 0;
  margin-bottom: 5px;
  color: #cdcbb5;
  font-size: 15px;
}
.block-info ul {
  padding-left: 0;
  list-style-type: none;
}
.block-info ul li {
  margin-bottom: 0;
}
.block-info ul li .btn-next {
  margin-left: 10px;
}
.block-info ul span {
  margin-right: 10px;
  color: #c99906;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  vertical-align: middle;
}
.block-info .btn-next {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #c99906;
  font-size: 22px;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.block-info-3 h4 {
  width: 398px;
}
.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.icon-go {
  width: 32px;
  height: 16px;
  background: url(../img/icon-go.png) no-repeat;
}
.icon-nfc {
  width: 66px;
  height: 78px;
  background: url(../img/icon-nfc.png) no-repeat;
}
.icon-calc {
  width: 80px;
  height: 80px;
  background: url(../img/icon-calc.png) no-repeat;
}
.icon-app {
  width: 41px;
  height: 80px;
  background: url(../img/icon-app.png) no-repeat;
}
.icon-terminal {
  width: 139px;
  height: 81px;
  background: url(../img/icon-terminal.png) no-repeat;
}
.icon-bag {
  width: 69px;
  height: 92px;
  background: url(../img/icon-bag.png) no-repeat;
}
.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 44px;
  padding: 0 20px;
  border: none;
  line-height: 44px;
  color: #1c0d00;
  font-size: 22px;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-preorder {
  margin-top: 15px;
  background-color: #c99906;
  -webkit-box-shadow: 5px 5px 0 rgba(40, 19, 14, 0.2);
  -moz-box-shadow: 5px 5px 0 rgba(40, 19, 14, 0.2);
  box-shadow: 5px 5px 0 rgba(40, 19, 14, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-preorder:hover {
  background-color: #f8bd0a;
}
.btn-gplay {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 131px;
  height: 32px;
  margin-right: 15px;
  background: url(../img/google-play.png) no-repeat;
  vertical-align: middle;
}
/* Block-steps
========================================================================== */
.block-steps {
  padding: 30px 0 40px;
  background-color: #d7d7d7;
}
.container-steps {
  width: 1020px;
  margin: 0 auto;
}
.container-steps h2 {
  margin-bottom: 25px;
  color: #28130e;
  text-align: center;
}
.container-steps .list-steps {
  padding-left: 0;
}
.container-steps .list-steps li {
  float: left;
  width: 170px;
  padding: 0 15px 0 20px;
  text-align: center;
  list-style-type: none;
}
.container-steps .list-steps li p {
  color: #28130e;
  text-align: left;
  font-size: 14px;
}
.container-steps .list-steps li:first-child {
  padding-left: 0;
}
.container-steps .list-steps li:last-child {
  padding-right: 0;
}
.container-steps .list-steps .separator {
  width: 1px;
  height: 134px;
  padding: 0;
  margin-top: 20px;
  background-color: #28130e;
}
.container-steps .list-steps .icon {
  margin-bottom: 20px;
}
/* Form
========================================================================== */
.block-preorder {
  position: relative;
  height: 450px;
  padding-top: 40px;
  background-color: #120807;
  background-image: url(../img/branches.png);
  background-position: center top;
  background-repeat: no-repeat;
}
.block-preorder h3 {
  margin-bottom: 30px;
  color: #c99906;
  font-size: 26px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  text-align: center;
}
.form-preorder {
  width: 750px;
  margin: 0 auto;
  text-align: center;
}
.inp-primary {
  width: 324px;
  height: 20px;
  padding: 5px 15px;
  margin: 25px 6px 0;
  border: 2px solid #493407;
  background-color: #25110c;
}
.inp-primary,
.checkbox {
  float: left;
  color: #cdcbb5;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.checkbox {
  height: 16px;
  padding-left: 28px;
  margin: 35px 7px 8px;
  line-height: 16px;
  background-image: url(../img/checkbox.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  text-decoration: none;
}
.checkbox.checked {
  background-position: 0 -17px;
}
.btn-send {
  margin-top: 40px;
  background-color: #9b7506;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-send:hover {
  background-color: #cc9a08;
}
