/* ==========================================================================
FONTS
========================================================================== */

@font-face {
    font-family: HattoriHanzo;
    src: url(../fonts/Hattori_Hanzo.ttf);
}

/* ==========================================================================
LESS
========================================================================== */

@white: #fff;
@black: #000;
@yellow: #c99906;


.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.gradient (@startColor, @endColor) {
    //background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;
    transition:         @transition;   
}

/* for IE 7 */

.inline-block () {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: @white;
}

ul,
p {
    margin: 0;
}

input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
    outline: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1; /* IE < 8 */
}

.clearfix:after {
    clear: both;
}

.list-inline {
    li {
        .inline-block;
    }
}

h2 {
    margin: 0;
    font-size: 35px;
    font-weight: normal; 
    font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
}

/* ==========================================================================
    MAIN
========================================================================== */

/* Slider
========================================================================== */

.slider {
    width: 100%;
    height: 660px;
    background-image: url(../img/bg-scheme.png);
    background-size: cover;
    background-position: center;    
}

.container-slider {
    position: relative;
    width: 960px;
    padding-top: 25px;
    margin: 0 auto;
    text-align: left;

    h2 {
        width: 800px;
        margin-bottom: 20px;
        color: #cdcbb5;
    }

    img {
        margin-left: 70px;
    }
}

.logo-main {
    display: block;
    width: 129px;
    height: 47px;
    margin: 0 auto 30px;
    background: url(../img/logo-main.png) no-repeat;
}

.block-info {
    position: absolute;
    top: 290px;
    right: 0;
    width: 400px;
    height: 280px;
    
    h3 {
        margin: 0;
        color: @yellow;
        font-size: 30px;
        font-weight: normal;
    }

    h4 {
        width: 230px;
        margin: 0;
        margin: 15px 0;
        color: @white;
        font-size: 18px;
        font-weight: normal;
        font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
        text-transform: uppercase;
    }

    p {
        margin: 0;
        margin-bottom: 5px;
        color: #cdcbb5;
        font-size: 15px;
    }

    .btn-next {
        color: @yellow;
        display: block;
        font-size: 22px;
        font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.icon {
    .inline-block;
}

.icon-go {
    width: 32px;
    height: 16px;
    background: url(../img/icon-go.png) no-repeat;
}

.btn {
    .inline-block;
    height: 44px;
    padding: 0 20px;
    border: none;
    line-height: 44px;
    color: #1c0d00;
    font-size: 22px;
    font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-preorder {
    margin-top: 15px;
    background-color: @yellow;
    .box-shadow(5px 5px 0 rgba(40, 19, 14, .2));
}

/* Form
========================================================================== */

