/* ==========================================================================
LESS
========================================================================== */
/* for IE 7 */
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #ffffff;
}
ul,
p {
  margin: 0;
}
input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
  outline: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */
}
.clearfix:after {
  clear: both;
}
.list-inline li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* ==========================================================================
    HEADER
========================================================================== */
/* ==========================================================================
    MAIN
========================================================================== */
/* Form
========================================================================== */
