/* ==========================================================================
FONTS
========================================================================== */
@font-face {
  font-family: HattoriHanzo;
  src: url(../fonts/Hattori_Hanzo.ttf);
}
/* ==========================================================================
LESS
========================================================================== */
/* for IE 7 */
/* ==========================================================================
    GENERAL STYLES
========================================================================== */
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #ffffff;
}
ul,
p {
  margin: 0;
}
input,
button,
textarea,
input:active,
textarea:active,
button:active,
:focus {
  outline: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
  /* IE < 8 */
}
.clearfix:after {
  clear: both;
}
.list-inline li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
h2 {
  margin: 0;
  font-size: 35px;
  font-weight: normal;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
}
/* ==========================================================================
    MAIN
========================================================================== */
/* Slider
========================================================================== */
.slider {
  width: 100%;
  height: 660px;
  background-image: url(../img/bg-scheme.png);
  background-size: cover;
  background-position: center;
}
.container-slider {
  position: relative;
  width: 960px;
  padding-top: 25px;
  margin: 0 auto;
  text-align: left;
}
.container-slider h2 {
  width: 800px;
  margin-bottom: 20px;
  color: #cdcbb5;
}
.container-slider img {
  margin-left: 70px;
}
.logo-main {
  display: block;
  width: 129px;
  height: 47px;
  margin: 0 auto 30px;
  background: url(../img/logo-main.png) no-repeat;
}
.block-info {
  position: absolute;
  top: 290px;
  right: 0;
  width: 400px;
  height: 280px;
}
.block-info h3 {
  margin: 0;
  color: #c99906;
  font-size: 30px;
  font-weight: normal;
}
.block-info h4 {
  width: 230px;
  margin: 0;
  margin: 15px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}
.block-info p {
  margin: 0;
  margin-bottom: 5px;
  color: #cdcbb5;
  font-size: 15px;
}
.block-info .btn-next {
  color: #c99906;
  display: block;
  font-size: 22px;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.icon-go {
  width: 32px;
  height: 16px;
  background: url(../img/icon-go.png) no-repeat;
}
.icon-nfc {
  width: 66px;
  height: 78px;
  background: url(../img/icon-nfc.png) no-repeat;
}
.icon-calc {
  width: 80px;
  height: 80px;
  background: url(../img/icon-calc.png) no-repeat;
}
.icon-app {
  width: 41px;
  height: 80px;
  background: url(../img/icon-app.png) no-repeat;
}
.icon-terminal {
  width: 139px;
  height: 81px;
  background: url(../img/icon-terminal.png) no-repeat;
}
.icon-bag {
  width: 69px;
  height: 92px;
  background: url(../img/icon-bag.png) no-repeat;
}
.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 44px;
  padding: 0 20px;
  border: none;
  line-height: 44px;
  color: #1c0d00;
  font-size: 22px;
  font-family: "HattoriHanzo", Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-preorder {
  margin-top: 15px;
  background-color: #c99906;
  -webkit-box-shadow: 5px 5px 0 rgba(40, 19, 14, 0.2);
  -moz-box-shadow: 5px 5px 0 rgba(40, 19, 14, 0.2);
  box-shadow: 5px 5px 0 rgba(40, 19, 14, 0.2);
}
/* Block-steps
========================================================================== */
.block-steps {
  padding: 30px 0 40px;
  background-color: #d7d7d7;
}
.container-steps {
  width: 1020px;
  margin: 0 auto;
}
.container-steps h2 {
  margin-bottom: 25px;
  color: #28130e;
  text-align: center;
}
.container-steps .list-steps {
  padding-left: 0;
}
.container-steps .list-steps li {
  float: left;
  width: 170px;
  padding: 0 15px 0 20px;
  text-align: center;
  list-style-type: none;
}
.container-steps .list-steps li p {
  color: #28130e;
  text-align: left;
  font-size: 14px;
}
.container-steps .list-steps li:first-child {
  padding-left: 0;
}
.container-steps .list-steps li:last-child {
  padding-right: 0;
}
.container-steps .list-steps .separator {
  width: 1px;
  height: 134px;
  padding: 0;
  margin-top: 20px;
  background-color: #28130e;
}
.container-steps .list-steps .icon {
  margin-bottom: 20px;
}
/* Form
========================================================================== */
